<div class="card-group main-conteiner">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Water Level</h4>
        <p class="card-text">{{waterLevel}}</p>
        <!-- TODO: Hard coded 1000, date here have to be in milliseconds  -->
        <p class="card-text"><small class="text-muted">Last updated {{time * 1000 | date :'medium'}}</small></p> 
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Temperature</h4>
        <p class="card-text">10 &#8451;</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Humidity</h4>
        <p class="card-text">20 %</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>